body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.img{
    width: 1990px;
    height: 870px;
}
.img-sun{
    height: 120px;
    width: 120px;
    margin-left: 15px;
    margin-top: 15px;
}
